# Backend y API
fastapi
uvicorn

# Procesamiento de Código
tree-sitter
tree-sitter-languages
tree-sitter-python
tree-sitter-java
tree-sitter-javascript
astroid

# Inteligencia Artificial (IA)
torch
transformers
langchain
sentence-transformers

# Base de datos y búsqueda semántica
qdrant-client
pymongo

# Frontend con Streamlit
streamlit

# Otras utilidades
python-dotenv
pydantic
